html,
body {
  padding: 0;
  margin: 0;
  background: #cccccc;
  font-size: 12px; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.banner {
  display: none; }

@media (min-width: 768px) {
  .banner {
    display: block;
    height: 340px;
    background: #333; }
    .banner .swiper-container {
      height: 100%; } }

.content-wrap {
  padding-top: 30px; }
  .content-wrap .container {
    padding: 0;
    margin: auto; }

.news-wrap .new {
  background: #fff;
  padding: 20px;
  margin: 0 0 20px 0; }
  .news-wrap .new .new-l,
  .news-wrap .new .new-r {
    float: left; }
  .news-wrap .new .new-l {
    width: 32.78%; }
  .news-wrap .new .new-r {
    padding-left: 15px;
    line-height: 1.5;
    width: 67.22%; }
  .news-wrap .new .new-label {
    margin-top: 15px;
    color: #ccc; }
  .news-wrap .new h1 {
    padding: 0 0 10px 0;
    margin: 0;
    line-height: 1.5;
    font-size: 1.5em; }
  .news-wrap .new a {
    color: #000; }
  .news-wrap .new img {
    width: 100%; }
  .news-wrap .new .new-content {
    font-size: 1em;
    line-height: 1.5; }
  .news-wrap .new span {
    padding-right: 10px; }
  .news-wrap .new i {
    margin-right: 5px; }

aside .widget {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px; }
  aside .widget h4 {
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: solid 1px #ebebeb;
    position: relative; }
    aside .widget h4:after {
      content: "";
      background: #ff7300;
      height: 2px;
      width: 30%;
      bottom: -1px;
      position: absolute;
      left: 0; }

.widget-content span {
  display: inline-block;
  font-size: 1em;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #999;
  color: #fff;
  cursor: pointer; }
  .widget-content span:hover {
    background: #333; }
